<?xml version="1.0" encoding="UTF-8"?>
<config>
    <no-of-files>2</no-of-files>
    <no-of-records-perfile>1000000</no-of-records-perfile>
    <ggsn>10</ggsn>
    <apn>100</apn>
    <protocol-group>15</protocol-group>
    <protocol>20</protocol>
    <!-- total number of subscriber -->
    <users>1000000</users>
    <!-- total number of web site in world are lot more than this -->
    <website>2111000</website>
    <!-- up link volume etc -->
    <data>100</data>
</config>